  a {
	font-size:30px;
	color:blue;
}

body {
    background-image: url('https://wallpapers.com/images/featured/hacker-8znsp2rrbfgtbhbb.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */
    height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    margin: 0; /* Elimina los márgenes por defecto */
}
